@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    flex-direction: column;
}

.title {
    color: #333;
    font-weight: 300;
    font-size: 36px;
}

.mode-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72px;
}

.mode-icon {
    font-size: 28px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mode-icon:hover {
    transform: scale(1.1);
    image-rendering: crisp-edges;
}

.content {
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.cell {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.cell:nth-child(1) {
    border-top: none !important;
    border-left: none !important;
}

.cell:nth-child(2) {
    border-top: none !important;
}

.cell:nth-child(3) {
    border-top: none !important;
    border-right: none !important;
}

.cell:nth-child(4) {
    border-left: none !important;
}

.cell:nth-child(6) {
    border-right: none !important;
}

.cell:nth-child(7) {
    border-left: none !important;
    border-bottom: none !important;
}

.cell:nth-child(8) {
    border-bottom: none !important;
}

.cell:nth-child(9) {
    border-bottom: none !important;
    border-right: none !important;
}

.win-line {
    background-color: #333;
    position: absolute;
    transition: all 0.3s ease;
}

.dark {
    background: #333;
}

.dark > .content > .cell {
    border: 1px solid #fff;
    color: #fff;
}

.dark > .content > .win-line {
    background-color: #fff;
}

.dark > .title {
    color: #fff;
}

.dark > .move {
    color: #fff;
}

.dark > .mode-wrapper > .mode-icon {
    color: #fff;
}

.dark > .game-restart {
    color: #fff;
}

.dark > .game-restart::after {
    background-color: #fff;
}

.move {
    font-size: 24px;
    font-weight: 300;
}

.game-restart {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    color: #333;
    transition: all 0.4s ease;
}

.game-restart::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
    transition: all 0.4s ease;
}

.game-restart:hover::after {
    width: 0%;
}
